input[type=search]{
  padding: 20px 50px;
  margin: 20px;
  width: 500px;
  font-size: large;
}

.body-part-header{
    margin: 0;
    padding: 15px 30px;
    background-color: #1b1b1b;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.all-exercises{
  display: flex;
  flex-direction: column;
  margin: 50px;
}