.dashboard {
display:flex;
flex-direction:row;
align-items:center;
height:85vh;
margin:120px 5vw;
}

.dashboard-table {
width: 250px;
font-size:x-large;
border-radius:2px;
background-color: slateblue;
}

.exercise {
padding:0 30px;
font-weight: 500;
}

.exercise-category {
color:#40E0D0;
font-weight:700;
padding:15px 20px 0px 20px;
}

iframe,.empty-frame {
align-self:stretch;
flex-grow:1;
}

.empty-frame {
border:2px solid gray;
display:flex;
font-size:large;
font-weight:700;
justify-content:center;
align-items:center;
}