.dashboard {
display:flex;
flex-direction:row;
align-items:center;
height:85vh;
margin: 90px 4.1vw;
}

.dashboard-table {
width: 250px;
font-size:x-large;
border-radius:5px;
background-color: slateblue;
}

.exercise {
padding: 8px 30px;
font-weight: 500;
border-top: 1px solid darkgray;
}

.exercise-category {
color:#40E0D0;
font-weight:700;
padding:15px 20px 0px 20px;
}

iframe,.empty-frame {
align-self:stretch;
flex-grow:1;
border: 1px solid gray;
border-radius: 2px;
}

.empty-frame {
display:flex;
font-size:large;
font-weight:700;
justify-content:center;
align-items:center;
}

.dashboard-dropdown{
    border-radius: 5px;
    margin: 15px auto 20px;
    font-size: x-large;
    display: block;
}