.exercise-tile {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  border-radius: 15px;
}

.exercise-tile-border {
  padding: 10px;
}

.exercise-stats p {
  font-weight: 400;
  margin: 0;
}

.small-exercise-tile {
  flex-direction: row;
  padding: 10px 15px;
  height: 125px;
  transition: all 0.2s ease-in-out;
}

.small-exercise-tile:hover {
  transform: scale(1.01);
}

.expanded-exercise-tile {
  padding: 10px;
  flex-direction: column;
}

.small-exercise-tile > img {
  height: 90%;
}

.expanded-exercise-tile > img {
  margin-bottom: 15px;
}

.exercise-title {
  font-weight: 600;
  margin: 0;
}

.small-exercise-tile .exercise-title {
  padding: 10px;
}

.expanded-exercise-tile .exercise-title {
  padding-top: 10px;
}

.exercise-description {
  font-size: 105%;
  text-align: justify;
  text-align-last: center;
  width: 100%;
}

.exercise-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 25px;
}

.exercise-stats-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.exercise-tile * {
  color: #2e2e2e;
}

.exercise-tile ul {
  display: inline-block;
  padding-left: 30px;
  margin: 0;
}

.small-exercise-tile > .cart-btn {
  margin-left: auto;
}
