input[type="search"] {
  padding: 0 30px;
  width: 500px;
  height: 55px;
  font-size: large;
  border: 0;
}

#equipment-filter > p {
  margin: 0;
}

#filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

#equipment-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.equipment-checkbox > input {
  margin: 5px 5px 5px 10px;
}

.equipment-checkbox > label {
  color: rgb(168, 168, 168);
  font-weight: 500;
  margin: 0;
}
