#filters{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

#equipment-filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

#equipment-checkboxes{
  margin: 10px;
}

#equipment-filter > p{
  font-size: medium;
}

.equipment-checkbox{
  color: rgb(168, 168, 168);
  font-weight: 500;
}